<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">


            <li>
                <a href="/RestaurantlyLayout/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Go To Site</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/DashboardIndex" aria-expanded="false">
                    <i class="fa fa-chart-line"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/AdminProfile/ProfileIndex" aria-expanded="false">
                    <i class="fa-regular fa-user"></i><span class="nav-text">Profile</span>
                </a>
            </li>
            <li>
                <a href="/AdminFeature/FeatureIndex" aria-expanded="false">
                    <i class="fa-regular fa-chart-bar"></i><span class="nav-text">Feature</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/AboutIndex" aria-expanded="false">
                    <i class="fa-regular fa-copyright"></i><span class="nav-text">About</span>
                </a>
            </li>
            <li>
                <a href="/AdminCategory/CategoryIndex" aria-expanded="false">
                    <i class="fa-solid fa-list"></i><span class="nav-text">Category</span>
                </a>
            </li>
            <li>
                <a href="/AdminProduct/ProductIndex" aria-expanded="false">
                    <i class="fa-regular fa-lemon"></i><span class="nav-text">Product</span>
                </a>
            </li>
            <li>
                <a href="/AdminSpecial/SpecialIndex" aria-expanded="false">
                    <i class="fa-regular fa-lightbulb"></i><span class="nav-text">Special</span>
                </a>
            </li>
            <li>
                <a href="/AdminService/ServiceIndex" aria-expanded="false">
                    <i class="fa-regular fa-bell"></i><span class="nav-text">Service</span>
                </a>
            </li>
            <li>
                <a href="/AdminEvent/EventIndex" aria-expanded="false">
                    <i class="fa-regular fa-star"></i><span class="nav-text">Event</span>
                </a>
            </li>
            <li>
                <a href="/AdminChef/ChefIndex" aria-expanded="false">
                    <i class="fa-regular fa-font-awesome"></i><span class="nav-text">Chef</span>
                </a>
            </li>
            <li>
                <a href="/AdminTestimonial/TestimonialIndex" aria-expanded="false">
                    <i class="fa-regular fa-face-smile"></i><span class="nav-text">Testimonial</span>
                </a>
            </li>
            <li>
                <a href="/AdminReservation/ReservationIndex" aria-expanded="false">
                    <i class="fa-regular fa-bookmark"></i><span class="nav-text">Reservation</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/ContactIndex" aria-expanded="false">
                    <i class="fa-regular fa-comment"></i><span class="nav-text">Contact</span>
                </a>
            </li>
            <li>
                <a href="/AdminAddress/AddressIndex" aria-expanded="false">
                    <i class="fa-regular fa-compass"></i><span class="nav-text">Address</span>
                </a>
            </li>
            <li>
                <a href="/AdminGallery/GalleryIndex" aria-expanded="false">
                    <i class="fa-regular fa-image"></i><span class="nav-text">Gallery</span>
                </a>
            </li>
        </ul>
    </div>
</div>
